In [ ]:
%config Completer.use_jedi = False
%load_ext autoreload
%autoreload 2

In [1]:
import tensorflow
import regex

In [2]:
from transformers import pipeline

In [3]:
from email_parser import nlp

In [4]:
text = """tel: 512 222 5555"""

In [5]:
lang = nlp.f_detect_language(text)
lang

'en'

In [6]:
df_result = nlp.f_ner(text, lang=lang)
df_result

  entity         value  start  end  score
0    TEL  512 222 5555      5   17      1

In [16]:
nlp.f_detect_email_signature(text, lang="fr")

      entity value  start  end     score
0  SIGNATURE    JB    119  122  0.955208

In [33]:
iter_match = regex.finditer("\s|$", text)
list_values = []
start_pos = 0
for match in iter_match:
    word = match.string[start_pos:match.start()]
    
    df_entity = df_result.query(f"start>={start_pos} & end<={match.start()}").head(1)
    if len(df_entity)==1:
        entity = df_entity["entity"].values[0]
    else:
        entity = None
#     list_values
    list_values.append((word, entity))
    start_pos = match.end()
list_values

[('je', None), ("m'appelle", None), ('Jean-Baptiste', 'PER')]